# Configuración de Autenticación de Google
GOOGLE_CLIENT_ID=tu_google_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_google_client_secret_aqui
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2/callback
GOOGLE_REFRESH_TOKEN=tu_google_refresh_token_aqui

# Configuración de Google Drive
GOOGLE_DRIVE_FOLDER_ID=tu_id_de_carpeta_de_drive_aqui

# Configuración de Gemini
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
GEMINI_MODEL=gemini-2.5-flash

# Configuración de Correos
EMAIL_RECIPIENTS=correo1@gmail.com,correo2@gmail.com

# Opciones de Scraper
TARGET_DATE=
FORCE_REPROCESS=false

# OAuth
PORT=3000
OAUTH_HOST_PORT=3001

# Variables de Pruebas (solo para desarrollo)
# TEST_FAIL_AFTER_UPLOADS=true
